@charset "utf-8";

@import url("reset.css");
@import url("arialnarrow.css");

html {
	overflow: hidden;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	font-size: 20px;
}

body {
	background: #000;
}

.wrap {
	max-width: 1920px;
	margin: 0 auto;
}

body.intro .wrap,
body.gallery .wrap,
body.photocard .wrap,
body.download .wrap {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.m,
.pc-small {
	display: none;
}

.container {
  position: relative;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}

.contain {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.header {
	position: relative;
}

.header.portrait,
.header.landscape {
	display: none;
}

.header.desktop {
	padding: 18px 0;
	border-bottom: 2px solid #7c7c7c;

}
.header.desktop .title {
	text-align: center;
}

.header.portrait {
	padding: 2.1rem 0 1.9rem;
}
.header.portrait .title {
	text-align: center;
}
.header.portrait .title img {
	width: 19.8rem;
}

.header.common {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
}

.header .btn-back {
	position: absolute;
	left: 1.45rem;
	top: 1rem;
	width: 2.9rem;
	height: 2.9rem;
	background-image: url("https://sangmin9412.github.io/xr-global/images/icon_back.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2.1rem auto;
	cursor: pointer;
}
.header .btn-next-page {
	display: none;
	position: absolute;
	right: 1.45rem;
	top: 1rem;
	width: 2.9rem;
	height: 2.9rem;
	background-image: url("https://sangmin9412.github.io/xr-global/images/icon_next.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2.1rem auto;
	cursor: pointer;
}
.header .btn-next-page.active {
	display: block;
}
.header.common .btn-sound {
	position: absolute;
	right: 1.4rem;
	top: 1.3rem;
	width: 2.9rem;
	height: 2.2rem;
	background-image: url("https://sangmin9412.github.io/xr-global/images/icon_sound_on.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2.1rem auto;
	cursor: pointer;
}
.header.common .btn-sound.active {
	top: 1.55rem;
	height: 2.1rem;
	background-image: url("https://sangmin9412.github.io/xr-global/images/icon_sound_off.png");
}

html.intro,
html.photocard,
html.download {
	font-size: 17.2px;
}

.main-content {
  position: relative;
	padding-top: 2.75rem;
	padding-bottom: 2.05rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
}
.main-content:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 30.65rem;
  height: 100%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  z-index: -1;
}

.main-content:before {
  background-image: url("https://sangmin9412.github.io/xr-global/images/intro_bg.jpg?v=001");
}
.main-content .logo img {
	width: 11.75rem;
}
.main-content .main-title {
	margin-top: 0.85rem;
}
.main-content .main-title img {
	width: 11.1rem;
}
.main-content .slide-wrap {
	max-width: 613px;
	width: 100%;
	margin: auto auto 0;
}
.main-content .slide-wrap .text {
	margin-top: 1.25rem;
	font-family: "Arial Narrow";
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1.4;
	color: #ffc200;
}
.main-content .slide-wrap .text:first-child {
	margin-top: 0;
}
.main-content .slide-wrap .text strong {
	font-size: 1.7rem;
}
.main-content .slide-wrap .d-day {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1.2;
	color: #ffc600;
	letter-spacing: 0;
}
.main-content .slide-wrap .d-day .day {
	margin: 0 1rem;
	font-size: 0;
}
.main-content .slide-wrap .d-day .day span {
	margin-left: 0.5rem;
	display: inline-block;
	vertical-align: top;
	width: 3.2rem;
	height: 4.4rem;
	background: #ffc600;
	font-size: 3.35rem;
	font-weight: 800;
	line-height: 1.3;
	color: #000;
	border-radius: 1rem;
}
.main-content .slide-wrap .d-day .day span:first-child {
	margin-left: 0;
}
.main-content .slide-wrap .swiper-container {
	padding-top: 2rem;
}
.main-content .slide-wrap .swiper-pagination {
	bottom: auto;
	top: 0;
}
.main-content .slide-wrap .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	width: 0.85rem;
	height: 0.85rem;
	margin: 0 0.5rem;
	background: #5c5c5c;
	opacity: 1;
}
.main-content .slide-wrap .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
	background: #ffc600;
}
.main-content .button-wrap {
	margin-top: 1.5rem;
}
.main-content .button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 14rem;
	height: 3rem;
	font-weight: 800;
	font-size: 1.65rem;
	line-height: 1;
	background: #ef3484;
	color: #fff;
	border-radius: 0.5rem;
	letter-spacing: 0;
}
.main-content .button span {
	display: block;
	transform: translateY(-0.1rem);
}

body.close .main-content {
	justify-content: space-between;
	background: url("https://sangmin9412.github.io/xr-global/images/close_bg_text.png?v=001") center bottom no-repeat;
}
body.close .main-content:before {
  background-image: url("https://sangmin9412.github.io/xr-global/images/close_bg.png?v=001");
}
body.close .main-content .text {
	padding-top: 6.5rem;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.1;
	color: #ffc600;
	text-align: center;
}
body.close .main-content .text p {
	margin-top: 1.5rem;
}
body.close .main-content .text p:first-child {
	margin-top: 0;
}
body.close .main-content .button-wrap {
	padding-bottom: 1rem;
}


body.gallery .wrap {
	background: url("https://sangmin9412.github.io/xr-global/images/gallery_bg.jpg") 0 0 no-repeat;
	background-size: 100% auto;
}
.gallery-content {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 6.7rem);
	overflow: hidden;
}
.gallery-content .gallery-video {
	width: 68%;
	border-right: 2px solid #7c7c7c;
}
.gallery-content .gallery-video .video-wrap {
	position: relative;
	height: 75%;
}
.gallery-content .gallery-video .video-wrap video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
	background: #fff;
}
.gallery-content .gallery-video .video-info {
	position: relative;
	/* background: #fff; */
	height: 25%;
	padding: 1rem 2rem 1rem;
	border-top: 2px solid #7c7c7c;
	overflow-y: auto;
}
.gallery-content .notice {
	margin-bottom: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1.2;
	color: #ffc600;
}
.gallery-content .gallery-video .video-info .title {
	font-size: 1.85rem;
	font-weight: 400;
	line-height: 1.1;
	color: #fff;
}
.gallery-content .gallery-video .video-info .title strong {
	font-weight: 600;
}
.gallery-content .gallery-video .video-info .views {
	margin-top: 0.25rem;
	font-size: 1.35rem;
	font-weight: 400;
	line-height: 1.2;
	color: #fff;
}
.gallery-content .gallery-video .video-info .desc {
	margin-top: 1rem;
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 1.3;
	color: #fff;
}
.gallery-content .gallery-list-wrap {
	display: flex;
	flex-direction: column;
	width: 32%;
	overflow: hidden;
}
.gallery-content .gallery-list-wrap .tab-button {
	padding: 0.85rem 0.7rem;
	border-bottom: 1px solid #3d3d3d;
	font-size: 0;
}
.gallery-content .gallery-list-wrap .tab-button .inner {
	margin: 0 -0.38rem;
}
.gallery-content .gallery-list-wrap .tab-button .tab-btn {
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	height: 2.75rem;
	padding: 0 0.38rem;
}
.gallery-content .gallery-list-wrap .tab-button .tab-btn span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	font-weight: 600;
	color: #000;
	background: #fff;
	border-radius: 1rem;
}
.gallery-content .gallery-list-wrap .tab-button .tab-btn.active span {
	background: #ecbd1b;
}
.gallery-content .gallery-list {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
.gallery-content .gallery-list .list-item {
	position: relative;
	margin-bottom: 2.5rem;
}
.gallery-content .gallery-list .list-item:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	/* transform: translate(-50%, calc(100% + 0.4rem)); */
  transform: translate(-50%, 100%);
	display: block;
	width: 2.95rem;
	height: 1.7rem;
  margin-bottom: -0.4rem;
	background: url("https://sangmin9412.github.io/xr-global/images/icon_arrow.png") 0 0 no-repeat;
	background-size: 100% auto;
}
.gallery-content .gallery-list .list-item:last-child:before {
	display: none;
}
.gallery-content .gallery-list .list-item:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0.85rem;
	transform: translateY(-50%);
	display: block;
	width: 2.75rem;
	height: 2.35rem;
	background: url("https://sangmin9412.github.io/xr-global/images/icon_check_off.png") 0 0 no-repeat;
	background-size: 100% auto;
}
.gallery-content .gallery-list .list-item.checked:after {
	background: url("https://sangmin9412.github.io/xr-global/images/icon_check.png") 0 0 no-repeat;
	background-size: 100% auto;
}
.gallery-content .gallery-list .list-item.disabled:after {
	display: none !important;
}
.gallery-content .gallery-list .list-item:hover .inner,
.gallery-content .gallery-list .list-item.active .inner {
	background: #e1e1e1;
}
.gallery-content .gallery-list .f-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.gallery-content .gallery-list .item-button {
	display: block;
	width: 100%;
	padding: 0.8rem 0.5rem 0.8rem 0.75rem;
	/* cursor: auto; */
}
.gallery-content .gallery-list .item-thumb {
	width: 50%;
	height: 0;
	padding-bottom: 28%;
	background: #fff;
}
.gallery-content .gallery-list .item-info {
	width: 50%;
	padding-left: 1.5rem;
	text-align: left;	
}
.gallery-content .gallery-list .item-info .title {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.2;
	color: #fff;
}
.gallery-content .gallery-list .item-info .title .version {
	margin-bottom: 10px;
	display: block;
	width: 3.85rem;
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1.4;
	color: #000;
	text-align: center;
	background: #ecbd1b;
}
.gallery-content .gallery-list .item-info .views {
	position: relative;
	margin-top: 1rem;
	font-size: 1.15rem;
	font-weight: 400;
	line-height: 1.2;
	color: #fff;
}
.gallery-content .gallery-list .list-item:hover .item-info .title,
.gallery-content .gallery-list .list-item:hover .item-info .views,
.gallery-content .gallery-list .list-item.active .item-info .title,
.gallery-content .gallery-list .list-item.active .item-info .views {
	color: #111;
}
.gallery-content .gallery-list .item-info .views:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	margin-right: 0.65rem;
	width: 2.1rem;
	height: 1.15rem;
	transform: translateY(0.15rem);
	background-image: url("https://sangmin9412.github.io/xr-global/images/icon_views_off.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.gallery-content .gallery-list .list-item:hover .item-info .views:before,
.gallery-content .gallery-list .list-item.active .item-info .views:before {
	background-image: url("https://sangmin9412.github.io/xr-global/images/icon_views.png");
}



body.photocard .wrap {
	position: relative;
	background: url("https://sangmin9412.github.io/xr-global/images/photocard_bg.jpg") center top no-repeat;
	background-size: auto 100%;
}
body.photocard .wrap:after,
body.photocard .wrap:before {
	content: '';
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	display: block;
	background-image: url("https://sangmin9412.github.io/xr-global/images/photocard_bg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
body.photocard .wrap:after {
	left: -7.5rem;
}
body.photocard .wrap:before {
	right: -7.5rem;;
}
.photocard-wrap {
	height: 100%;
}
.photocard-content {
	padding: 4rem 0;
}
.photocard-content .text {
	margin-top: 1.75rem;
	font-family: "Arial Narrow";
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.2;
	color: #ffc600;
	text-align: center;
}
.photocard-content .text:first-of-type {
	margin-top: 0;
}
.photocard-content .photocard-list {
	margin-top: 3rem;
}
.photocard-content .photocard-list .list-title {
	margin-bottom: 3rem;
	font-size: 1.6rem;
	font-weight: 800;
	line-height: 1.1;
	color: #fff;
	text-align: center;
}
.photocard-content .photocard-list ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 27.55rem;
	height: 31rem;
}
.photocard-content .photocard-list .list-item {
	position: relative;	
	width: 33.333%;
	cursor: pointer;
}
.photocard-content .photocard-list .list-item:nth-child(4) .img {
	margin-left: -0.5rem;
}
.photocard-content .photocard-list .list-item .inner {
	display: block;
}
.photocard-content .photocard-list .list-item .img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	width: 12.25rem;
	max-width: none;
	transition: all 1s ease;
}
.photocard-content .photocard-list .list-item .img.on {
	opacity: 0;
}
.photocard-content .photocard-list .list-item:hover .img.off {
	opacity: 0;
}
.photocard-content .photocard-list .list-item:hover .img.on {
	opacity: 1;
}
.photocard-content .photocard-list .list-item .name {
  display: none;
}


body.download .wrap {
	position: relative;
	background: url("https://sangmin9412.github.io/xr-global/images/download_bg.jpg") center top no-repeat;
	background-size: auto 100%;
}
body.download .wrap:after,
body.download .wrap:before {
	content: '';
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	display: block;
	background-image: url("https://sangmin9412.github.io/xr-global/images/download_bg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.download-content {
	padding: 5rem 0 3.5rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;	
}
.download-content .download-img {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.download-content .download-img img {
	flex: 0 1;
	max-width: 28.3rem;
}
.download-content .button-wrap {
	margin: 2.6rem auto 0;
	text-align: center;
}
.download-content .download-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 13rem;
	height: 2.9rem;
	font-weight: 800;
	font-size: 1.65rem;
	line-height: 1;
	background: #ef3484;
	color: #fff;
	border-radius: 0.5rem;
	letter-spacing: 0;
}

.download-content .download-btn span {
	display: block;
  transform: translateY(-0.1rem);
}

/* *********************** 오픈전 *********************** */
.pre-content {
  position: relative;
	padding-top: 5.7rem;
	padding-bottom: 4.75rem;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.pre-content:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 50.55rem;
  height: 100%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  z-index: -1;
}

.pre-content:before {
  background-image: url("https://sangmin9412.github.io/xr-global/images/pre/bg_00.jpg?v=001");
}
.pre-content .logo img {
	width: 15.05rem;
}
.pre-content .main-title {
	margin-top: 1.85rem;
}
.pre-content .main-title img {
	width: 23.4rem;
}
.pre-content .slide-wrap {
	max-width: 1200px;
	width: 100%;
	margin: 63.5rem auto 0;
}
.pre-content .slide-wrap .text {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.4;
	color: #ffc200;
}
.pre-content .slide-wrap .text strong {
	display: inline-block;
	vertical-align: top;
	font-size: 3.6rem;
	font-weight: 600;
	line-height: 1;
}
.pre-content .slide-wrap .swiper-container {
	padding-top: 3.25rem;
}
.pre-content .slide-wrap .swiper-pagination {
	bottom: auto;
	top: 0;
}
.pre-content .slide-wrap .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	width: 1.7rem;
	height: 1.7rem;
	margin: 0 1rem;
	background: #5c5c5c;
	opacity: 1;
}
.pre-content .slide-wrap .swiper-pagination-bullet-active {
	background: #ffc600;
}
.pre-content .d-day {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-size: 4.7rem;
	font-weight: 800;
	line-height: 1;
	color: #fff;
	letter-spacing: 0.2rem;
}
.pre-content .button-wrap {
	margin-top: 2rem;
}
.pre-content .button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 31rem;
	height: 5.75rem;
	font-weight: 800;
	font-size: 2.75rem;
	line-height: 1;
	background: #ef3484;
	color: #fff;
	border-radius: 0.75rem;
	cursor: auto;
}
.pre-content .button span {
	display: block;
	transform: translateY(-0.25rem);
}


/* modal css */
.is-opened {
	overflow: hidden !important;
}
.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display:  none;
}
.modal-wrap.active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
	overflow-y: auto;	
}
.modal-wrap:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  display: none;
}
.modal-wrap.active:before {
  display: block;
}
.modal-wrap .modal-body {
	position: relative;
	max-width: 1380px;
	max-height: 90%;
	background: rgba(0, 0, 0, .92);
	border: 3px solid #fff;
	text-align: center;
	z-index: 10;
}
.modal-wrap .modal-body p {
	font-family: "Arial";
	font-size: 1.4rem;
	line-height: 1.3;
	color: #fff;
}
.modal-wrap .modal-body p span {
	font-weight: 200;
}
.modal-wrap .modal-content {
	padding: 2rem;
}
.modal-wrap .modal-content.image-content {
	padding: 0;
}
.modal-wrap .modal-btn-close {
	display: none;
	position: absolute;
	right: -3px;
	top: -3px;
	border: 3px solid #fff;
	background: #000;
	padding: 0.4rem 0.5rem 0.2rem;
}
.modal-wrap .modal-btn-close:before {
	content: 'X';
	display: block;
	/* font-family: "Omni Gothic"; */
	font-size: 1.4rem;
	line-height: 1;
	color: #fff;
}

.modal-wrap .scroll-body {
	width: 100%;
	height: 90%;
}

.modal-wrap .scroll-body .modal-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.modal-wrap .scroll-body .modal-btn-close {
	border-right: 0;
}

.modal-wrap[data-modal-type="alert"] .modal-btn-close {
	transform: translateY(calc(-100% + 3px));
}


@media all and (max-width:1919px) {
	html.gallery {
		font-size: 1.041vw;
	}
}


@media all and (max-width:1200px) {
	.pc-wide {
		display: none;
	}
	.pc-small {
		display: block;
	}

	.pre-content {
		overflow: hidden;
	}
}

@media all and (max-width:1024px) {
	html.gallery {
		font-size: 1.953vw;
	}

	.pc,
	.pc-small {
		display: none;
	}
	.m {
		display: block;
	}
	.header.desktop {
		display: none;
	}
	.header.portrait {
		display: block;
	}

	body.gallery .wrap {
		background: url("https://sangmin9412.github.io/xr-global/images/gallery_bg_m.jpg") 0 0 repeat-y;
		background-size: 100% auto;
	}
	.gallery-content {
		flex-direction: column;
	}
	.gallery-content .gallery-video {
		position: relative;
		z-index: 10;
		width: 100%;
		flex: 0;
		border: 0;
	}
	.gallery-content .gallery-video .video-wrap {
		height: auto;
		padding-bottom: 56.25%;
	}
	.gallery-content .gallery-video .video-wrap video {
		background: none;
	}
	.gallery-content .gallery-video .video-info {
		margin: 0.3rem 0;
		border: 0;
		height: auto;
		background: #6a6a6a;
		overflow: visible;
	}
	.gallery-content .gallery-video .video-info:after {
		content: '';
		position: absolute;
		right: 1.3rem;
		top: 50%;
		transform:translateY(-50%);
		display: block;
		width: 1.4rem;
		height: 0.85rem;
		background: url("https://sangmin9412.github.io/xr-global/images/icon_arrow2_off.png") 0 0 no-repeat;
		background-size: 100% auto;
	}
	.gallery-content .gallery-video .video-info.active:after {
		background: url("https://sangmin9412.github.io/xr-global/images/icon_arrow2_on.png") 0 0 no-repeat;
		background-size: 100% auto;
	}
	.gallery-content .gallery-video .video-info .title,
	.gallery-content .gallery-video .video-info .views {
		color: #fff;
	}
	.gallery-content .gallery-video .video-info .title strong {
		font-weight: 400;
	}
	.gallery-content .gallery-video .video-info .title {
		font-size: 1.3rem;
	}
	.gallery-content .gallery-video .video-info .views {
		font-size: 0.8rem;
	}
	.gallery-content .gallery-video .video-info .desc {
		display: none;
		margin: 0;
		padding: 1.5rem;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateY(100%);
		height: 14rem;
		font-size: 1.3rem;
		color: #111;
		background-color: rgba(255, 255, 255, .95);
		overflow-y: auto;
	}
	.gallery-content .gallery-video .video-info.active .desc {
		display: block;
	}
	.gallery-content .gallery-list-wrap {
		width: 100%;
	}
	.gallery-content .gallery-list .list-item:before {
		width: 2.4rem;
		transform: translate(-50%, calc(100% + 0.7rem));
	}
	.gallery-content .gallery-list .list-item:after {
		right: 2.6rem;
	}
	.gallery-content .gallery-list .list-item:hover .inner,
	.gallery-content .gallery-list .list-item.active .inner {
		background: none;
	}
	.gallery-content .gallery-list .list-item:hover .item-info .title, 
	.gallery-content .gallery-list .list-item:hover .item-info .views,
	.gallery-content .gallery-list .list-item.active .item-info .title, 
	.gallery-content .gallery-list .list-item.active .item-info .views {
		color: #fff;
	}
	.gallery-content .gallery-list .item-info .title {
		font-size: 1.6rem;
	}
	.gallery-content .gallery-list .item-info .title .version {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		margin-right: 0.5rem;
	}
	.gallery-content .gallery-list .item-info .views {
		font-size: 1rem;
	}
	.gallery-content .gallery-list .item-info .views:before {
		width: 1.7rem;
		height: 1rem;
		margin-right: 0.4rem;
	}
	.gallery-content .gallery-list .list-item:hover .item-info .views:before,
	.gallery-content .gallery-list .list-item.active .item-info .views:before {
		background-image: url("https://sangmin9412.github.io/xr-global/images/icon_views_off.png");
	}
	.gallery-content .gallery-list .item-thumb {
		background: #fff;
		width: 40%;
		padding-bottom: 22%;
	}
	.gallery-content .gallery-list .item-info {
		width: 60%;	
		padding-left: 2.5rem;
	}
	.gallery-content .gallery-list .item-button {
		padding: 0.8rem 1rem 0.8rem 2.5rem;
	}
	.gallery-content .notice {
		margin-top: 1rem;
		margin-bottom: 0.7rem;
		text-align: center;
	}
	.gallery-content .gallery-list-wrap .tab-button .tab-btn {
		height: 3.2rem;
	}
	.gallery-content .gallery-list-wrap .tab-button .tab-btn span {
		font-size: 1.15rem;
	}

	.modal-wrap .modal-body p {
		font-size: 2.25rem;
	}
	.modal-wrap .modal-btn-close {
		padding: 0.8rem 1rem 0.4rem;
	}
	.modal-wrap .modal-btn-close:before {
		font-size: 3.15rem;
	}
}

@media all and (max-width:1011px) { /* 오픈전 페이지 적용 */
	html.pre {
			font-size: 1.98vw;
	}
}

@media all and (max-width:750px) {
	html {
		font-size: 2.6667vmin !important;
	}

	.header .btn-back {
		top: 2.7rem;
		left: 2rem;
		width: 3.2rem;
		height: 3.2rem;
		background-size: 2.4rem;
	}
	.header .btn-next-page {
		top: 2.7rem;
		right: 2rem;
		width: 3.2rem;
		height: 3.2rem;
		background-size: 2.4rem;
	}

	.header.common .btn-sound {
		top: 3.1rem;
		right: 2rem;
		width: 3.2rem;
		height: 2.4rem;
		background-size: 2.4rem;
	} 
	.header.common .btn-sound.active {
		top: 3.35em;
		height: 2.1rem;
	}

	.main-content {
		padding-top: 3.95rem;
		padding-bottom: 2.7rem;
	}
	.main-content:before {
		width: 100%;
	}
	.main-content .logo img {
		width: 14.35rem;
	}
	.main-content .main-title {
		margin-top: 1rem;
	}
	.main-content .main-title img {
		width: 13.6rem;
	}
	.main-content .slide-wrap .d-day {
		padding-top: 2rem;
	}
	.main-content .button {
		font-size: 1.7rem;
	}

	body.close .main-content {
		background: url("https://sangmin9412.github.io/xr-global/images/close_bg_text_m.png") center bottom no-repeat;
		background-size: 100% auto;
	}
	body.close .main-content .text {
		padding-top: 0;
		font-size: 1.7rem;
		line-height: 1.2;
	}
	
	body.photocard .wrap {
		background: url("https://sangmin9412.github.io/xr-global/images/photocard_bg_m.jpg") center top no-repeat;
		background-size: cover;
	}
	body.photocard .wrap:after,
	body.photocard .wrap:before {
		display: none;
	}
	.photocard-content {
		padding: 8.3rem 0 0;
	}
	.photocard-content .text {
		font-size: 1.7rem;
	}
	.photocard-content .photocard-list {
		margin-top: 4.25rem;
	}
	.photocard-content .photocard-list ul {
		width: 31.25rem;
		height: 35.2rem;
	}
	.photocard-content .photocard-list .list-title {
		font-size: 2rem;
	}
	.photocard-content .photocard-list .list-item .img {
		width: 13.5rem;
	}

	body.download .wrap {
		background: url("https://sangmin9412.github.io/xr-global/images/download_bg_m.jpg") center top no-repeat;
		background-size: cover;
	}
	body.download .wrap:after,
	body.download .wrap:before {
		display: none;
	}
	.download-content {
		padding-top: 8.2rem;
		padding-bottom: 3.2rem;
	}
	.download-content .download-img {
		padding: 0 1.5rem;
	}
	.download-content .download-img img {
		max-width: 100%;
	}
	.download-content .button-wrap {
		margin-top: 3.4rem;
	}
	.download-content .download-btn {}
	.download-content .download-btn span {}

	.modal-wrap[data-modal-type="alert"] .modal-btn-close {
		transform: translateY(calc(-100% + 1px));
	}

	.modal-wrap .modal-btn-close {
		right: -1px;
		top: -1px;
		border-width: 1px;
	}
	.modal-wrap .modal-body {
		border-width: 1px;
	}

	.modal-wrap .modal-content {
		padding: 1.5rem 1rem;
	}
	.modal-wrap .modal-body p {
		font-size: 2rem;
	}

}

@media all and (max-width:1024px) and (orientation:portrait) { /* 세로형 */
	.header.portrait {
		display: block;
	}
	.header.landscape {
		display: none;
	}
	.gallery-content .gallery-list-wrap {
		flex: 1;
	}
}

@media all and (max-width:1024px) and (orientation:landscape) { /* 가로형 */
	html.intro,
	html.photocard,
	html.download {
		overflow-y: scroll;
	}
	
	html.photocard .wrap,
	html.download .wrap {
		height: auto !important;
	}

	.header.portrait {
		display: none;
	}
	.header.landscape {
		display: block;
		padding: 1.2rem 0 1rem;
		background: #f2f2f2;
		border-bottom: 0.2rem solid #7c7c7c;
	}
	.header.landscape .title {
		font-size: 1.825rem;
		font-weight: 800;
		line-height: 1.1;
		color: #000;
		text-align: center;
	}
	.header.landscape .btn-prev,
	.header.landscape .btn-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.35rem;
		font-weight: 400;
		line-height: 1.1;
		color: #000;
	}
	.header.landscape .btn-prev {
		left: 1.45rem;
	}
	.header.landscape .btn-next {
		right: 1.45rem;
	}
	
	.gallery-content,
	.gallery-content .gallery-video {
		height: 100%;
	}
	.gallery-content .gallery-video {
		flex: 1;
	}
	.gallery-content .gallery-video .video-wrap {
		height: 100%;
		padding-bottom: 0;
	}
	.gallery-content .gallery-video .video-info,
	.gallery-content .gallery-list {
		display: none;
	}

	.gallery-content .notice {
		display: none;
	}

	.gallery-content .gallery-list-wrap .tab-button {
		display: none;
	}
}